---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import ResearchGate from '../icons/ResearchGate.astro';
import Google from '../icons/Google.astro';
import Mail from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SuitCase from '../icons/SuitCase.astro';
import Code  from '../icons/Code.astro';
import Projects from "../components/Projects.astro";
import AboutMe from '../components/AboutMe.astro';
import Info from '../icons/Info.astro';
import Phone from '../icons/Phone.astro';
---

<Layout 
title="Portfolio of Victor Terrón - Developer with 4 years of Experience"
description="Portfolio of Victor Terrón - Developer with 4 years of Experience Spetialized in Artificial Intelligence, Machine Learning, and Web Development."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl  font-bold flex flex-row gap-4 pb-4 pb-6 lg:pb-10">Hi, I'm Victor Terrón
				<a href="https://www.linkedin.com/in/victor-terron/" target="_blank" rel="noopener">
					<Badge> Available for work! </Badge>
				</a> 
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[850px]">+4 years of experience. <span class="text-yellow-200/90"> Ms. Software Engineer and Web Developer. </span>  </span></h2><h5><span class="opacity-80"> Specialized in Python, DJANGO, and data analyst, utilizing Python and R for scripting and Shiny app development. I bring a strong background in software engineering, supported by my MSc in Software Engineering. My experience extends to training and implementing AI models in web applications, as well as managing projects using both traditional and agile methodologies, standards or models.</h5>
			<ul>
				<li>
					<SocialPill href="https://www.linkedin.com/in/victor-terron/" >
						<LinkedIn class="size-6"/>
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/Maigolinox" >
						<GitHub class="size-6"/>
						GitHub
					</SocialPill>
					<SocialPill href="https://www.researchgate.net/profile/Victor-Terron-2" >
						<ResearchGate class="size-6"/>
						ResearchGate
					</SocialPill>
					<SocialPill href="https://scholar.google.com/citations?user=0UOt5IoAAAAJ&hl=en" >
						<Google class="size-6"/>
						Google Scholar
					</SocialPill>
					<SocialPill href="malito:vicmictm@gmail.com" >
						<Mail class="size-6"/>
						vicmictm@gmail.com
					</SocialPill>
					<SocialPill href="malito:victor.terron@cimat.mx" >
						<Mail class="size-6"/>
						victor.terron@cimat.mx
					</SocialPill>
					<SocialPill >
						<Phone class="size-6"/>
						+52 246 311 34 70
					</SocialPill>
				</li>
				
			</ul>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6"> 
				<SuitCase class="size-6"/>
				Work Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6"> 
				<Code class="size-6"/>
				Projects
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="aboutMe">
			<h2 class="text-2xl font-semibold mb-6"> 
				<Info class="size-6"/>
				About Me
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>

