---
 const personalImageAlt = "Victor Terrón"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p><strong>Python Developer | Ms. Software Engineer | Project Manager</strong></p>
  <p>Welcome to my GitHub profile! 👋 As a recent graduate with a Master's degree in Software Engineering, I bring a diverse skill set and a commitment to innovation in software development. My educational background in Mechatronics Engineering, combined with extensive experience in Python development and artificial intelligence, positions me to contribute effectively to cutting-edge projects.</p>

  <p>I've honed my project management skills through the Google Specialization on Coursera, covering areas from project initiation to agile methodologies. My expertise also extends to essential DevOps practices, KanBan system design, SCRUM foundations, and more, backed by certifications from leading institutions like Oracle and CertiProf.</p>

  <p>My academic background is complemented by hands-on experience, showcased in my GitHub repositories. Whether it's developing platforms for automating work product analysis with AI, crafting Django applications, or exploring natural language processing algorithms for opinion classification, I'm constantly pushing new boundaries.</p>

  <p>You’ll find a range of projects on my profile, from bioinformatics tools for sequence analysis to web development portfolios and IoT system deployments on AWS EC2. I also curate resources for learning Linux, data science with Python and R, and algebraic concepts in R.</p>

  <p>Join me on this journey of exploration and innovation as we continue to push the boundaries of technology together. Feel free to explore my repositories and connect with me for collaborations or discussions on all things software engineering and beyond! 🚀</p>

  <p><strong>Professional Focus</strong></p>
  <ul>
      <li>Python Development with Django</li>
      <li>Artificial Intelligence and Machine Learning Implementation</li>
      <li>Project Management (Agile and Traditional Methodologies)</li>
      <li>DevOps Practices and System Administration</li>
  </ul>

  <p><strong>Repository Overview</strong></p>
  <ul>
      <li><strong>vsest:</strong> A private repository containing my master's thesis project, featuring a platform for automating work product analysis using Django and AI.</li>
      <li><strong>django_practices:</strong> A series of Django practices where I refine my skills with the Django REST framework, focusing on web development.</li>
      <li><strong>proyecto_demo:</strong> A project that classifies opinions from tourist places in Guanajuato using NLP algorithms, demonstrating my passion for applying NLP to real-world scenarios.</li>
      <li><strong>MeIA_Bioinformatica:</strong> Resources for sequence analysis using Python scripts, highlighting my expertise in bioinformatics and computational biology.</li>
      <li><strong>fungiregex:</strong> A project focused on scraping the JGI Mycocosm database using custom regular expressions, showcasing my data scraping skills.</li>
      <li><strong>portfolioReact:</strong> My old portfolio from 2017, built with React, offering a glimpse into my journey in web development.</li>
      <li><strong>linux resources:</strong> A curated collection of resources for learning and mastering Linux, reflecting my dedication to system administration and community knowledge-sharing.</li>
      <li><strong>Data Science with R and Python:</strong> Scripts for data analysis, covering statistical computing and data visualization, showcasing my proficiency in data science.</li>
      <li><strong>EMQX_IoT_Terron:</strong> A repository demonstrating my experience in deploying an IoT broker server on AWS EC2, highlighting my skills in IoT infrastructure and cloud navigation.</li>
      <li><strong>Curso_Algebra_Lineal:</strong> Resources for learning linear algebra in R, emphasizing my commitment to education and open-source learning.</li>
  </ul>

  <p><strong>Professional Development</strong></p>
  <p>I am committed to continuous learning and professional growth, evidenced by my certifications in project management, DevOps, and agile methodologies. My approach combines technical expertise with strong project management skills to deliver high-quality software solutions.</p>
  </div>

  <img width="200" height="200" src="/projects/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->